<app-header></app-header>
<div class="container">
    <div class="confirmation-container">
        <h1>Xác nhận đơn hàng</h1>
        <p>Cảm ơn bạn đã đặt hàng! Dưới đây là những thông tin chi tiết về đơn hàng của bạn.</p>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">Sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Tổng giá</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <div class="product-info">
                            <img src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=1260&dpr=2"
                                class="product-image" alt="Product Image">
                            <span class="product-name">Tên sản phẩm</span>
                        </div>
                    </th>
                    <th>2</th>
                    <th>100,000</th>
                    <th>200,000</th>
                </tr>
                <tr>
                    <th>
                        <div class="product-info">
                            <img src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=1260&dpr=2"
                                class="product-image" alt="Product Image">
                            <span class="product-name">Tên sản phẩm</span>
                        </div>
                    </th>
                    <th>2</th>
                    <th>100,000</th>
                    <th>200,000</th>
                </tr>
                <tr>
                    <th>
                        <div class="product-info">
                            <img src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=1260&dpr=2"
                                class="product-image" alt="Product Image">
                            <span class="product-name">Tên sản phẩm</span>
                        </div>
                    </th>
                    <th>2</th>
                    <th>100,000</th>
                    <th>200,000</th>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-3">
            <button class="btn btn-gradient" type="button">Tiếp tục mua hàng</button>
        </div>
    </div>
</div>
<app-footer></app-footer>