<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>This is a home page</h1>
        <p>Products list</p>
        <p>Select product</p>
    </div>
    <!-- 1 search box, 1 combobox-->
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select name="" class="form-control product-category" id="">
            <option value="" selected disabled>Danh mục sản phẩm</option>
            <option value="">Đồ điện tử</option>
            <option value="">Hải sản</option>
            <option value="">Bánh kẹo</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://i1-sohoa.vnecdn.net/2023/07/06/DSCF3483-1686014164-7221-1688583032.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=induB5Jm4wku9mZ3Bqw4lg"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Macbook</h3>
                <p class="product-description">Macbook pro okok</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://i1-sohoa.vnecdn.net/2023/07/06/DSCF3483-1686014164-7221-1688583032.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=induB5Jm4wku9mZ3Bqw4lg"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Macbook</h3>
                <p class="product-description">Macbook pro okok</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://i1-sohoa.vnecdn.net/2023/07/06/DSCF3483-1686014164-7221-1688583032.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=induB5Jm4wku9mZ3Bqw4lg"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Macbook</h3>
                <p class="product-description">Macbook pro okok</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>